table {
  border: 2px solid black;
  width: 1200px;
  table-layout: fixed;
  height: 200px;
  overflow: scroll;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
  width: 100%
}
